@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app-loader-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.app-loader-dot {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  background-color: #ffe81f;
  border-radius: 100%;
}
.first {
  animation: loading 1.5s infinite;
}

.second {
  animation: loading 1.5s 0.25s infinite;
}

.third {
  animation: loading 1.5s 0.5s infinite;
}
