<div class="hero-detail-container">
    <div class="hero-detail-content">
        <div class="hero-detail-wrapper" *ngIf="!loading">
            <div class="hero-detail-name">
                {{ hero.name }}
            </div>
            <div class="hero-detail-species" *ngIf="hero.species.length">
                <span>Species: </span>{{ hero.species }}
            </div>
            <div class="hero-detail-list">
                <span>Physical description:</span>
                <ul>
                    <li>Birth year: {{ hero.birth_year }}</li>
                    <li>Eye color: {{ hero.eye_color }}</li>
                    <li>Gender: {{ hero.gender }}</li>
                    <li>Hair color: {{ hero.hair_color }}</li>
                    <li>Height: {{ hero.height }}</li>
                    <li>Mass: {{ hero.mass }}</li>
                    <li>Skin color: {{ hero.skin_color }}</li>
                </ul>
            </div>
            <div class="hero-detail-list" *ngIf="hero.films.length">
                <span>Films: </span>
                <ul>
                    <li *ngFor="let film of hero.films">
                        {{ film }}
                    </li>
                </ul>
            </div>
            <div class="hero-detail-list" *ngIf="hero.starships.length">
                <span>Starships: </span>
                <ul>
                    <li *ngFor="let starship of hero.starships">
                        {{ starship }}
                    </li>
                </ul>
            </div>
            <div class="hero-detail-list" *ngIf="hero.vehicles.length">
                <span>Vehicles: </span>
                <ul>
                    <li *ngFor="let vehicle of hero.vehicles">
                        {{ vehicle }}
                    </li>
                </ul>
            </div>
        </div>
        <app-loader *ngIf="loading"></app-loader>
    </div>
    <div class="app-button-container">
        <button (click)="handleReturn()" [disabled]="loading">Return</button>
    </div>
</div>