.app-logo-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-bottom: 50px;
    margin-top: 30px;
    font-weight:bolder;
    color: #ffe81f ;
    -webkit-text-stroke: 0.5px black;
}