/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: StarWars;
  src: url("assets/fonts/STJEDISE.ttf") format("truetype");
}

body {
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.app-button-container {
  margin-top: 30px;
  & > button {
    margin-left: 10px;
    margin-right: 10px;
    width: 140px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    font-size: 1.25rem;
    user-select: none;
    padding: 20px;
    &:hover {
      background-color: rgba(4, 4, 112, 0.5);
      color: white;
      cursor: pointer;
    }
    &:disabled:hover {
      cursor: not-allowed;
      background-color: transparent;
    }
  }
}
